

<%="currentPage is"+pm.currentPage%><br>
<%="totalRecord is"+pm.totalRecord%><br>
<%="pageSize is"+pm.pageSize%><br>
<%="totalPage is"+pm.totalPage%><br>
<%="blockSize is"+pm.blockSize%><br>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>title</title>
    <style>
        a{
            text-decoration: none;
        }
        .numStyle{
            font-size: 25px;
            color: #9b4f90;
        }
    </style>
</head>
<body>
    <table align="center" border="1px" width="100%">
        <thead>
            <caption>공지 게시판</caption>
        </thead>
        <tbody>
            <tr>
                <th width="5%">NO</th>
                <th width="15%">작성자</th>
                <th width="60%">제목</th>
                <th width="15%">작성일</th>
                <th width="5%">조회수</th>
            </tr>
            <% for(var i=0; i< pm.pageSize; i++){ %>
            <%if(pm.num<1)break%>
            <% var obj = record[pm.curPos];%>
            <tr>
                <td><%=pm.num %></td>
                <td><%=obj[1]%></td>
                <td><a href="/detail?notice_id=<%=obj[0]%>"><%=obj[2]%></a></td>
                <td><%=obj[4]%></td>
                <td><%=obj[5]%></td>
            </tr>
            <%
                pm.num--;
                pm.curPos++;
            %>
            <%}%>
            <tr>
                <td colspan ="5" align="right">
                    <a href="/write.html">글쓰기</a>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="5" align="center">

                    <%if(pm.firstPage-1 > 1){//더 볼게 있다면%>
                    <a href="/list?currentPage=<%=pm.firstPage-1%>">◀</a>
                    <%}else{%>
                    <a href="javascript:alert('처음페이지입니다.')">◀</a>
                    <%}%>

                    <%for(var i=pm.firstPage;i<= pm.lastPage; i++){%>
                    <%if(i>pm.totalPage)break;%>
                    <a <%if(pm.currentPage == i){%>class="numStyle"<%}%> href="/list?currentPage=<%=i%>">[<%=i%>]</a>
                    <%}%>
                    <%if(pm.lastPage+1 < pm.totalPage){//더 볼게 있다면%>
                    <a href="/list?currentPage=<%=pm.lastPage+1%>">▶</a>
                    <%}else{%>
                    <a href="javascript:alert('마지막페이지입니다.')">▶</a>
                    <%}%>
                </td>
            </tr>
        </tfoot>
    </table>
</body>
</html>